{% extends "index.html" %} 
{% load static %}

{% block styles%}
#item-content {
  padding: 10px;
  width: 100%;
  display: flex;
}
.item-details-card {
  padding: 5px;
  height: 80%;
  width: 80%;
  margin: auto;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  margin-top: 40px;
}
.item-details-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.item-details-card h3 {
  font-family: arial;
  margin: 0;
}
.item-details {
  padding: 20px;
}
.item-details-name {
  justify-self: center;
  align-self: end;
}
.item-details-price-tag {
}
.item-details-price {
  justify-self: center;
  align-self: end;
}
.item-details-image {
  width: 100%;
}
.item-details-image img {
  width: 100%;
}
@media only screen and (min-width: 900px) {
  .item-details-card {
    width: 70%;
  }
}
@media only screen and (min-width: 1000px) {
  .item-details-card {
    width: 65%;
  }
}
@media only screen and (min-width: 1100px) {
  .item-details-card {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .item-details-card {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  .item-details-card {
    flex-direction: row;
    width: 80%;
  }
  .item-details-image {
    width: 50%;
  }
}
{% endblock %}

{% block content %}
<div id="item-details-content">
  <div class="item-details-card">
    <div class="item-details-image">
      {% if item.image %}
        <img src="{% static item.image %}" />
      {% else %}
        <img src="{% static 'berriesandgoods/img/no-image-icon.jpg' %}" />
      {% endif %}
    </div>
    <div class="item-details">
      <div class="item-details-name">
        <h1>{{item.nameberry}}</h1>
      </div>
      <div class="item-details-price">PRICE UNKNOWN</div>
    </div>
  </div>
</div>
{% endblock %}
