{% extends "index.html" %} 
{% load static %}

{% block styles%}
#product-content {
  padding: 10px;
  width: 100%;
  display: flex;
}
.product-details-card {
  padding: 10px;
  height: 80%;
  width: 45vw;
  margin: auto;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  margin-top: 40px;
}
.product-details-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.product-details-card h3 {
  font-family: arial;
  margin: 0;
}
.product-details {
  padding: 20px;
  min-height: 23vh;
}
.product-details-name {
  justify-self: center;
  align-self: end;
}
.product-details-price-tag {
}
.product-details-price {
  justify-self: center;
  align-self: end;
}
.product-details-image {
  width: 100%;
}
.product-details-image img {
  width: 100%;
}
@media only screen and (min-width: 880px) {
  .product-details-card {
    flex-direction: row;
    width: 80vw;
  }
  .product-details-image {
    width: 50%;
  }
}
{% endblock %}

{% block content %}
<div id="product-details-content">
  <div class="product-details-card">
    <div class="product-details-image">
      {% if product.image %}
        <img src="{% static product.image %}" />
      {% else %}
        <img src="{% static 'berriesandgoods/img/no-image-icon.jpg' %}" />
      {% endif %}
    </div>
    <div class="product-details">
      <div class="product-details-name">
        <h1>{{product.name}}</h1>
      </div>
      <div class="product-details-price">{{ product.price }} / {{ product.unit }}</div>
    </div>
  </div>
</div>
{% endblock %}
