{% extends "index.html" %} 
{% load static %}

{% block styles%}
#product-index-overview {
  display: grid;
  margin-top: 10px;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  grid-auto-rows: min-content;
  grid-gap: 10px;
  grid-auto-flow: dense;
  align-content: center;
  justify-content: center;
}
#product-index-overview a {
  text-decoration: none;
  color: inherit;
}
.product-card {
  padding: 5px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}
.product-card h3 {
  font-family: arial;
  margin: 0;
}
.product-name {
  justify-self: center;
  align-self: end;
}
.product-price-tag {
}
.product-price {
  justify-self: center;
  align-self: end;
}
.product-image {
}
.product-details {
}
.product-image img {
  width: 100%;
}
.search_form {
  float: right;
  justify-self: flex-end;
  display: flex;
  min-height: 25px;
  margin: 20px 0;
  justify-content: flex-end;
}
.search_form label {
  color: white;
  margin-right: 5px;
}
#menu {
  padding: 10px;
  width: 80%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5B2D02;
}
#menu a,label {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}
#menu-header {
  width: 120px;
}
#menu-header a {
  font-size: 40px;
  text-align: center;
}
#menu a,form {
  border-radius: 5px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.8;
  color:white;
}
.menu-links {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 50%;
}
#menu a:hover {
  opacity: 1;
  cursor: pointer;
}

.product-review span {
  margin-left: 10px;
}
@media only screen and (max-width: 950px) {
    #menu {
        flex-direction: column;
        align-items: center;
        min-height: 150px;
        justify-content: space-between;
    }
    .search_form {
      width: 100%;
    } 
    #menu-header {
      width: 100%;
      text-align: center;
    } 
    .menu-links {
      width: 100%;
    } 
}
{% endblock %}

{% block content %}
<div id="menu">
    <div id="menu-header"><a href="{% url 'products:index' %}">Sort by</a></div>
    <div class="menu-links">
    <div><a href="{% url 'products:index' %}?price={% if flags.price != "highest" %}highest{% else %}lowest{%endif%}">Price</a></div>
    <div><a href="{% url 'products:index' %}?reviews={% if flags.reviews != "highest" %}highest{% else %}lowest{%endif%}">Rating</a></div>
    <div><a href="{% url 'products:index' %}?quantity={% if flags.quantity != "highest" %}highest{% else %}lowest{%endif%}">Quantity</a></div>
    </div>
    <form class="search_form" method="post"> {% csrf_token %} {{ search_form }} </form>
</div>
<div id="product-index-overview">
{% for product in products %}
<a href="{% url "products:details" product.idproduct %}">
<div class="product-card">
  <div class="product-image">
    {% if product.image %}
      <img src="{% static product.image %}" />
    {% else %}
      <img src="{% static 'berriesandgoods/img/no-image-icon.jpg' %}" />
    {% endif %}
  </div>
  <div class="product-details" >
     <div class="product-name">
       <h3>{{product.name}}</h3>
     </div>
     <div class="product-price">{{product.price}} :- / {{product.unit}}</div>
     {% if product.reviewAmount == 0 %}
      <div>
        No reviews
      </div>
      {% elif product.reviewAmount == 1 %}
      <div class="product-review">
        Rating: {{ product.reviewScore }} / 5 
        <span>({{ product.reviewAmount }}</span>
        review) 
       </div>
      {% else %}
      <div class="product-review">
        Rating: {{ product.reviewScore }} / 5 
        <span>({{ product.reviewAmount }}</span>
        reviews) 
       </div>
      {% endif %}
      <div class="product-availability">
        {{product.availability}} {{product.unit}}
      </div>
  </div>
</div>
</a>
{% endfor %}
</div>
{% endblock %}
